@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	padding: 0px;
	margin: 0px; 	
}
/* Navigation Bar */
.header{
	height: 70px;
	background-color: #f4511e;
	line-height: 1.4 !important;
	letter-spacing: 0px;
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%

}
.logo img{
	height: 100%;
	width: auto;
	margin: 5px 5%;
	float: left;
}
.header_list li{
	float: right;
	margin: 10px 5% ;
	list-style-type: none;
	font-size: 15px !important ;	
}
.header_list li a{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.header_list li a:hover{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

/* Hero Section */
.hero{
	text-align: center;
	margin-top: 70px;
	padding: 60px 60px;
	background-color: #f4511e;
    color: #fff;
    font-family: Montserrat, sans-serif;
}
.hero h1{
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-size: 80px;
	letter-spacing: 5px;
}
.hero h2{
	font-weight: 300;
	font-size: 20px;
}
.hero hr{
	border-width: 3px;
	width: 70%;
	background-color: #d5d5d5; 
}

/* About Section */
.about{
	padding: 80px 50px;
	background-color: #F6F6F6;
}
.about hr{
	border-width: 3px;
	width: 30%;
	float: left;
	background-color: #d5d5d5; 
}
.about_info {
	width: 60%;
}
.about_img img{
	margin-top: -28%;
	height: 28%;
	width: 28%;
	float: right;
}
.about h2{
	font-size: 35px;
	font-weight: 600;
}
.about h4{
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
	margin: 30px 0px ;
}

/* Skills */
.skill{
	padding-top: 70px;
	background-color: #FFFFFF;
	color: #000000;
}
.skill hr{
	border-width: 3px;
	width: 40%;
	background-color: #d5d5d5; 
}

.skill h2{
	color: #000000;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
}
#skill .container{
	padding: 5px 10% 20px 10% ;
	background-color: #FFFFFF;
}
.container p{
	margin-left: 4%;
}
.progress { 
	background-color: rgb(116, 194, 92); 
	color: white; 
	padding: 1%; 
	text-align: right; 
	font-size: 20px; 
	border-radius: 15px;
} 
.progress_bar { 
	background-color: #000000; 
	width: 80%; 
	border-radius: 15px; 
} 
#html{
	width: 80%;
}
#css{
	width: 85%;
}
#php{
	width: 23%;
}
#android{
	width: 50%;
}

/* Project Section */
.project{
	background-color: #F6F6F6;
	padding: 70px 0px 40px;
}
.project hr{
	border-width: 3px;
	width: 70%;
	background-color: #d5d5d5; 
}

.project h2{
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
}
.project h4{
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	margin: 30px 0px ;
}
.project .project_info{
	padding-top: 2%;
	text-align: center;
	display: inline
}
.project img{
	width: 30%;
	padding: 3%;
}
.project_info ul li{
	list-style-type: none;
}
/* contact section */
.contact{
	text-align: center;
	background-color: #FFFFFF;
	padding: 80px 50px;
}
.contact h2{
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* footer section */
.footer{
	background-color: #F6F6F6;
	padding: 50px 50px;
	text-align: center;
}
.footer h2{
	font-size: 15px;
	font-weight: 300;
}
.footer a{
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
	color: #000000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* Nav bar */
	.logo img{
	height: 58%;
    width: 15%;
    margin-left: 15px;
    float: left;
    margin-top: 15px;
	}
	.header{
	float: right;
	font-size: 12px;
	}
	.header .header_list li{
	float: right;
    margin-right: -4px;
    list-style-type: none;
    font-size: 10px !important;
    margin-top: 10px;
	}
	
	/* Hero Section */
	.hero h1{
	font-family: 'Pacifico', cursive;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 0px;
	}
	.hero h2{
		font-weight: 200;
		font-size: 12px;
	}
	
	/* About Section */
	.about{
		padding: 70px 40px;
		text-align: center;
		background-color: #F6F6F6;
	}
	.about hr{
		border-width: 3px;
		width: 30%;
		float: none;
		background-color: #d5d5d5; 
	}
	.about_info {
		width: 100%;
	}
	.about_img{
		width: 100%;
	}
	.about_img img{
	height: 100%;
	width: 100%;
	float: right;
	}
	.about h2{
		font-size: 35px;
		font-weight: 600;
	}
	.about h4{
		text-align: justify;
		font-size: 15px;
		font-weight: 400;
		margin: 30px 0px ;
	}

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* Nav bar */
	.header{
		float: right;
		font-size: 12px;
	}
	.header .header_list li{
	float: right;
	margin: 10px 3% ;
	list-style-type: none;
	font-size: 15px !important ;	
	}
	/* Hero Section */
	.hero h1{
	font-family: 'Pacifico', cursive;
	font-weight: 300;
	font-size: 70px;
	letter-spacing: 0px;
	}
	.hero h2{
		font-weight: 200;
		font-size: 18px;
	}
	
	/* About Section */
	.about_img img{
	margin-top: -55%;
	height: 40%;
	width: 40%;
	float: right;
	margin-right: -10%;
	}
	
}
